</main>
</div>
</div>
<!-- insert scripts here -->
<script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/static/quill/quill.js"></script>
<script src="/static/image-resize.min.js"></script>
<script src="/static/quill-image-drop-and-paste-master/dist/quill-image-drop-and-paste.js"></script>
<script src="/static/main.js"></script>
</body>
</html>