<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">
        <i class="bi bi-house-fill"></i>
        <span class="ml-2">Home</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/dashboard">
        <i class="bi bi-speedometer"></i>
        <span class="ml-2">Dashboard</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/dashboard/posts">
        <i class="bi bi-file-earmark-post"></i>
        <span class="ml-2">Posts</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/dashboard/posts/create">
        <i class="bi bi-file-earmark-plus-fill"></i>
        <span class="ml-2">Crear Post</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/dashboard/users/create">
        <i class="bi bi-person-plus-fill"></i>
        <span class="ml-2">Crear Usuario</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/dashboard/endpoints">
        <i class="bi bi-link-45deg"></i>
        <span class="ml-2">Endpoints</span>
    </a>
</li>